<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%include ../partials/meta.ejs%>
</head>
<body>
  <%include ../partials/toolbar.ejs%>
  <div class="container">
  <h1 class="choose-template">Choose a template</h1>
  <ul class="template-list">
    <li>
      <a href="/api/contacts/<%=contact.contactid %>/emails/new-template">

        <div class="template" id="add">
          <div class="overlay"><h2>New Template</h2></div>
            <h1>+</h1>

        </div>
      </a>
    </li>
  <%for (let template of templates) {%>
    <li><a href="/api/contacts/<%= contact.contactid %>/emails/<%= template.templateid %>">
      <div class="template">

        <div class="overlay">
          <h2><%= template.name %></h2>
        </div>
        <p><%= template.template %></p>
      </div>
    </a></li>
  <%}%>
  </ul>
</div>
</body>
</html>
