<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%include ../partials/meta.ejs%>
</head>
<body>
  <%include ../partials/toolbar.ejs%>

  <div>
    <button type="submit" value="submit" form="email-form">&#10147;</button>
  </div>
  <form method='POST' action='/api/contacts/<%=contact.contactid %>/emails/send' id="email-form">
    <input id="to" name="to" placeholder="Recipient" value="<%= contact.email%>"/>
    <input name="subject" placeholder="Subject" />
    <textarea name="text" value="<%= template.template %>"> <%= template.template %>

      Amount owed: <%= contact.owed %> for <%= contact.service %> on <%= contact.date_of_service %>
    </textarea>
  </form>

</body>
</html>
