<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%include ../partials/meta.ejs%>
</head>
<body>
  <%include ../partials/toolbar.ejs%>
  <div class="container">

    <div class="contact-show">
      <h1><i class="fa fa-address-card-o" aria-hidden="true"></i>  <%= contact.name %></h1>
      <div class="contact-flex">
        <div class="contact-right"><h2>Current Balance: <%= contact.owed %></h2></div>
        <div class="contact-left"><h2><%= contact.service %></h2>
             <h2><%= contact.date_of_service %></h2>
        </div>
      </div>
          <p>
            <a href="/api/contacts/<%= contact.contactid %>/edit-contact">
              <i class="fa fa-pencil-square fa-3x" aria-hidden="true"></i>
            </a>
            <a href="/api/contacts/<%= contact.contactid %>/emails">
              <i class="fa fa-envelope-square fa-3x" aria-hidden="true"></i>
            </a>
          </p>
    </div>
</div>


</body>
</html>
